
{% extends "accounts/__dashboard__.html" %}

{% block title %} Set Appointment {% endblock title %}

{% block content %}

<div class="container-fluid">
    <div class="dashboard-content border-dashed p-3 m-4 view-height">
        <div class="row border-bottom border-3 p-1 m-1">
            <div class="col noPadding">
                <h3 class="color-header text-uppercase">NEW APPOINTMENT</h3>
            </div>
        </div>
        <form method="post">

            <table>
                {{ form }}
                {% csrf_token %}
            </table>
            <button type="submit">Send</button>

        </form>
    </div>
</div>

{% endblock content %}

