{% extends "main/__dashboard__.html" %}

{% block title %} My Appointments {% endblock title %}

{% block content %}

<div class="container-fluid">
    <div class="dashboard-content border-dashed p-3 m-4 view-height">
        <div class="row border-bottom border-3 p-1 m-1">
            <div class="col noPadding">
                <h3 class="color-header text-uppercase">MY APPOINTMENTS</h3>
            </div>
        </div>
        <section class="mr-4 ml-4">
            <table class="table">
                <thead>
                    <tr class="d-flex text-color-darker">
                        <th scope="col" class="col-1">STATUS</th>
                        <th scope="col" class="col-3">DATE</th>
                        <th scope="col" class="col-3">SERVICES</th>
                        <th scope="col" class="col-2">DURATION</th>
                        <th scope="col" class="col-2">PRICE</th>
                        <th scope="col" class="col-1">ACTION</th>
                    </tr>
                </thead>
                <tbody class="text-color-lighter">
                    {% for appointment in appointments %}
                    <tr class="d-flex">
                        <td class="col-1">
                            <b> {{ appointment.get_status_display }} </b>
                        </td>
                        <td class="col-3">
                            {{ appointment.date_from }}
                        </td>
                        <td class="col-3">
                            {% for service in appointment.services.all %}
                            {{ service }}<br>
                            {% endfor %}
                        </td>
                        <th scope="row" class="col-2">{{ appointment.duration_total }}</th>
                        <th scope="row" class="col-2">{{ appointment.price_total }} PLN</th>
                        <td class="col-1"><a href="{% url 'appointment-delete' appointment.pk %}"
                                             class="btn btn-danger rounded-0 text-light">
                            Delete</a></button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
</div>

{% endblock content %}
